<p class="bg-failure"><%= alert %></p>

<h1>The Leader Board</h1>

<% if @players.blank? %>
    <h2>No players! Create one!</h2>
<% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win Ratio</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @players.each_with_index do |player, i| %>
          <tr class="player <%= player_class(player) %>">
            <td><%= i + 1 %></td>
            <td><%= player.name %></td>
            <td><%= player.wins %></td>
            <td><%= player.losses %></td>
            <td><%= number_with_precision(player.win_ratio, precision: 2) || '-' %></td>
            <td><%= link_to 'Win', player, method: :patch %> / <%= link_to 'Loss', player, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<br>

<%= link_to 'New Player', new_player_path, class: 'btn btn-sm btn-primary' %>
