// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.player {
  transition: background-color 2s;
}

.player--win {
  background-color: lightgreen;
}

.player--loss {
  background-color: palevioletred;
}

.player--added {
  background-color: dodgerblue;
}